<ion-content>

  <ion-header class="header-header">  
  
    <div [routerLink]="['/login']">
      <ion-icon style="color:#fff;" name="person"></ion-icon>
      <ion-label style="color:#fff;" class="label-header" >Login</ion-label>
    </div>
      |
      <div style="padding-left: 18px;" [routerLink]="['/signup']" >
        <ion-icon style="color:#fff;" name="pencil"></ion-icon>
        <ion-label style="color: #fff;" >Cadastro</ion-label>
      </div>
      
      
    
    </ion-header>


    
    <ion-header class="header hide-header">
      
      
        <ion-img  [routerLink]="['/onboarding']"  style="max-width: 10%;" src="../../../assets/images-coopeere/coopere.png"></ion-img>
      
    
      
      <ion-button fill="clear" style="color:#000;"  [routerLink]="['/']" routerLinkActive="active-link">Home</ion-button>
      
      <div class="dropdown">
        <a [routerLink]="['/onboarding']" style="color:#000;" routerLinkActive="active-link">A COOPEERE <svg class="arrowicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"/></svg></a>
        <div class="dropdown-content">
          <a [routerLink]="['/quemsomos']" class="dropdown-item">Quem Somos?</a>
          <a [routerLink]="['/objetivos']" class="dropdown-item">Objetivo</a>
          <a [routerLink]="['/equipe']" class="dropdown-item">A Equipe</a>
        </div>
      </div>
    
      <ion-button fill="clear" style="color:#000;"  [routerLink]="['/estatuto']" routerLinkActive="active-link">Estatuto</ion-button>
      <ion-button fill="clear" style="color:#000;" [routerLink]="['/legislacao']" routerLinkActive="active-link">Legislação</ion-button>
      <ion-button fill="clear" style="color:#000;" [routerLink]="['/vantagens']" routerLinkActive="active-link">Vantagens</ion-button>
      <ion-button fill="clear" style="color:#000;" [routerLink]="['/parceiros']" routerLinkActive="active-link">Parceiros</ion-button>
      <ion-button fill="clear" style="color:#000;" [routerLink]="['/faleconosco']" routerLinkActive="active-link">Fale Conosco</ion-button>
  
    </ion-header>
<div class="minimum-header">

        
    <ion-img class="logo-min-header" [routerLink]="['/onboarding']"  src="../../../assets/images-coopeere/coopere.png"></ion-img>

   
    

    <!-- TESTANDO O MENU HAMBURGUER COM DROPDOWN -->
<div class="menu-min-header">
    <nav class="thenav">
      <div class="hamburger-menu-X" (click)="toggleMenu()">
        <div class="bar-X"></div>
        <div class="bar-X"></div>
        <div class="bar-X"></div>
      </div>
      <ul class="menu-items-X" *ngIf="showMenu">
        <br>
        <li><a [routerLink]="['/onboarding']" routerLinkActive="active-link">Home</a></li>
        <li><a href="#">A Coopeere</a></li>
        <li><a [routerLink]="['/estatuto']" routerLinkActive="active-link">Estatuto</a></li>
        <li><a href="#">Legislação</a></li>
        <li><a [routerLink]="['/vantagens']" routerLinkActive="active-link">Vantagens</a></li>
        <li><a href="#">Parceiros</a></li>
        <li><a href="#">Fale Conosco</a></li>
        

        
      </ul>
    </nav>
  </div>   
    
    <!-- FIM DO TESTE DO MENU HAMBURRGUER COM DROPDOWN -->


    <ion-icon name="search" class="search-min-header">Procurar</ion-icon>
  </div>

<br><br><br><br><br><br><br><br><br>


  <ion-label class="estatuto-label">Estatuto</ion-label>
<br>
  <iframe class="pdf-estatuto" src="https://www.coopeere.eco.br/wp-content/uploads/2020/10/estatuto-coopere.pdf" ></iframe>



<!--
    
  <div class="menu-lateral">      
    <ion-col>
    <div class="aside">
      <ion-row>
        <ion-button fill="clear" [routerLink]="['/onboarding']">EVENTOS</ion-button>
      </ion-row>
      <ion-row>
        <ion-button fill="clear" [routerLink]="['/onboarding']">PUBLICAÇÕES</ion-button>
      </ion-row>
      <ion-row>
        <ion-button fill="clear" [routerLink]="['/onboarding']"> AGENDA
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-button fill="clear" [routerLink]="['/onboarding']"> GALERIA DE FOTOS
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-button fill="clear" [routerLink]="['/onboarding']"> TRABALHE CONOSCO
        </ion-button>
      </ion-row>
    </div>
  </ion-col>
</div>
-->


  <ion-footer class="footer"> 

    
    
    <section class="p-menu1">
      <nav id="navbar" class="navigation" role="navigation">
        <input id="toggle1" type="checkbox" />
        <label class="hamburger1" for="toggle1">
          <div class="top"></div>
          <div class="meat"></div>
          <div class="bottom"></div>
        </label>
  
        <nav class="menu1" >
          <ion-label style="padding-left: 20px;" [routerLink]="['/eventos']">EVENTOS</ion-label>
          <ion-label style="padding-left: 20px;" [routerLink]="['/publicacoes']">PUBLICAÇÕES</ion-label>
          <ion-label style="padding-left: 20px;" [routerLink]="['/agenda']">AGENDA</ion-label>
          <ion-label style="padding-left: 20px;" [routerLink]="['/galeria']" >GALERIA DE FOTOS</ion-label>
          <ion-label style="padding-left: 20px;" [routerLink]="['/faleconosco']">FALE CONSOCO</ion-label>
        </nav>
    </nav>
  
    
  
    </section>
    
      <div class="menu-footer">
        <ion-label [routerLink]="['/eventos']">EVENTOS</ion-label>
        <ion-label [routerLink]="['/publicacoes']">PUBLICAÇÕES</ion-label>
        <ion-label [routerLink]="['/agenda']">AGENDA</ion-label>
        <ion-label [routerLink]="['/galeria']" >GALERIA DE FOTOS</ion-label>
        <ion-label [routerLink]="['/faleconosco']">FALE CONSOCO</ion-label>
      </div>
    
      <div class="social-media-icons">
  
        <!-- ROUTER LINKS NÃO FUNCIONAM COM LINKS DE VERDADE  -->
        
        <!-- MAS DEU PRA RESOLVER USANDO UMA FUNÇÃO COM TYPESCRIPT -->
              
              <ion-label (click)="openExternalLinkFacebook()">  <ion-img class="new-social-icons" src="../../../assets/images-coopeere/facebook.png"></ion-img>  </ion-label>
              <ion-label (click)="openExternalLinkInstagram()"> <ion-img class="new-social-icons" src="../../../assets/images-coopeere/instagram.png"></ion-img> </ion-label>
              <ion-label (click)="openExternalLinkYouTube()"> <ion-img class="new-social-icons" src="../../../assets/images-coopeere/youtube.png"></ion-img> </ion-label>
            </div>
            
      
      
    </ion-footer>
  
</ion-content>
